h4 {
    color: #cccccc;
    padding: 20px;
}

span.navbar-brand {
    font-size: 36px;
}

h1.center, h2.center, h4.center {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
