h4 {
    color: #cccccc;
    padding: 20px;
}

span.navbar-brand {
    font-size: 36px;
}

h2 {
    text-align: center;
}

td {
    background-color: #E6E6FA;
}

th {
    background-color: #D3D3D3;
}

.container {
    padding-bottom: 50px;
}

.btn-container {
    padding-top: 20px;
}