{% extends "base.html" %}

{% block content %}
<h2>List of departments</h2>
<a href="/" class="btn btn-secondary">Jobs</a>
{% if current_user.is_authenticated %}
    <a href="/add_department" class="btn btn-secondary">Add department</a>
{% endif %}
{% for department in departments%}
    <h3>Department # {{loop.index}}</h3>
    <div class="table-container">
        <table class="cabin-table">
            <tr>
                <th width="400px">Title of department</th>
                <th width="250px">Chief</th>
                <th width="200px">Members</th>
                <th width="200px">Department email</th>
            </tr>
            <tr>
                <td>{{department.title}}</td>
                <td>{{" ".join(names[department.chief])}}</td>
                <td>{{department.members}}</td>
                <td>{{department.email}}</td>
            </tr>
        </table>
    </div>
    {% if current_user.is_authenticated and (current_user.id == department.chief or current_user.id == 1) %}
    <div class="btn-container">
        <a href="/edit_department/{{ department.id }}" class="btn btn-warning">
            Edit
        </a>
        <a href="/delete_department/{{ department.id }}" class="btn btn-danger">
            Delete
        </a>
    </div>
{% endif %}
{% endfor %}
{% endblock %}